/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: #4B0082; /* Purple text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Header styling */
h1 {
    color: #4B0082; /* Purple */
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Quiz container */
#quiz-container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    background-color: #f3f3f3; /* Light gray background for container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Difficulty form */
#difficulty-form {
    margin-bottom: 20px;
}

select {
    padding: 10p
